* {
  padding: 0;
  margin: 0;
}
.footer{
  height: 250px;
  width: 100%;
  color: white;
  background-color: black;
}
.footer-left{
    display: inline-block;
    font-size: 25px;
    margin-left: 7vh;
    margin-top: 2vh;
          
}
.footer-link{
  margin-top: 2.5vh;
}
.footer-left h3{
  margin-bottom: 3vh;
  color: #d10d0d;
  font-size: 43px;
}
.footer-left span{
  color: #4e98bf;
}
.footer-center{
 
  display: inline-block;
  margin-left:25vh;
  font-size: 20px;
  height: 10vh;
  

}
.location{
  font-size: 33px;
  margin-top: 7vh;
  color: #4e98bf;
}
.footer-right{
display: inline-block;
margin-left: 25vh;
font-size:20;
margin-top: 3px;

}
.about{
  color: #4e98bf;
font-size: 33px;
margin-bottom: 8vh;

}
.margin{
  margin-top: 8vh;
}