.Nav{
    display: inline-block;
    margin-right: 35px;
font-family: 'Times New Roman', Times, serif;
font-weight: bolders;
text-decoration: solid;

 
}
.liststyle{
    height: 8vh;
    color: aliceblue;
    background-image:url('../movie-background.jpg') ;
    list-style: none;
    z-index: 100;
}
.logo{
    height: 6vh;
    width: 12vh;
    margin-top: 1vh;
    margin-left: 24px;
}
